<h1 class="h1" > Last five games</h1>
<table id="fivegames" xmlns="http://www.w3.org/1999/html">
  <tr>
    <th>
      GameID:
    </th>
    <th *ngFor="let game of gamelist" >
      {{game.id}}
    </th>
  </tr>
  <tr>
    <th>
      Aantal zetten uitgevoerd
    </th>
    <th *ngFor="let game of gamelist" >
      {{game.moveCount}}
    </th>
  </tr>
  <tr scope="row" >
    <th>
      HuidigeStand
    </th>
    <th *ngFor="let game of gamelist; let i = index;" class="chessboard">
      <div class="black"  *ngFor="let tile of tiletilelist1" [innerHTML]="getPicture(i, tile.id)"> </div>
    </th>
  </tr>

</table>
<div class="btn">
  <button class="btn" routerLink="/chessboard">Terugkeren naar potje</button>
</div>



