<h1 class="h1" > Last five games</h1>
<table class="table" xmlns="http://www.w3.org/1999/html">
  <tr>
    <th>
      GameID:
    </th>
    <th>
      Aantal zetten:
    </th>
    <th>
      Boardpositie
    </th>
  </tr>
  <tr *ngFor="let game of gamelist; let i = index">
    <th>
      {{game.id}}
    </th>
    <th>
      {{game.moveCount}}
    </th>
    <th>
      <div><button (click)="setHistoryGameMin(game.id, i)" class="btn een">Vorige</button> </div>
      <div class="chessboard">
        <div>
          <div ngClass="{{colorPicker()}}"  *ngFor="let tile of tiletilelist1" [innerHTML]="getPicture(i, tile.id)"> </div>
        </div>
      </div>
      <div><button (click)="setHistoryGamePlus(game.id, i)" class="btn twee">Volgende</button> </div>

    </th>
  </tr>
</table>
<div class="btn">
  <button class="btn" routerLink="/chessboard">Terugkeren naar potje</button>
</div>



