<h1>Lijst met huidige plaatsen lists</h1>
<!--<table border="1">-->
  <!--<tr *ngFor="let piece of piecelist">-->
    <!--<td>name: {{piece.name }}</td><td>name: {{piece.color }}</td>-->
  <!--</tr>-->
<!--</table>-->

<div class="chessboard">
  <!-- 1st -->
  <div class="white">{{piecelist[0].name}}</div>
  <div class="black">{{piecelist[1].name}}</div>
  <div class="white">{{piecelist[2].name}}</div>
  <div class="black">{{piecelist[3].name}}</div>
  <div class="white">{{piecelist[4].name}}</div>
  <div class="black">{{piecelist[5].name}}</div>
  <div class="white">{{piecelist[6].name}}</div>
  <div class="black">{{piecelist[7].name}}</div>
  <!-- 2nd -->
  <div class="black">{{piecelist[8].name}}</div>
  <div class="white">{{piecelist[9].name}}</div>
  <div class="black">{{piecelist[10].name}}</div>
  <div class="white">{{piecelist[11].name}}</div>
  <div class="black">{{piecelist[12].name}}</div>
  <div class="white">{{piecelist[13].name}}</div>
  <div class="black">{{piecelist[14].name}}</div>
  <div class="white">{{piecelist[15].name}}</div>
  <!-- 3th -->
  <div class="white">{{piecelist[16].name}}</div>
  <div class="black">{{piecelist[17].name}}</div>
  <div class="white">{{piecelist[18].name}}</div>
  <div class="black">{{piecelist[19].name}}</div>
  <div class="white">{{piecelist[20].name}}</div>
  <div class="black">{{piecelist[21].name}}</div>
  <div class="white">{{piecelist[22].name}}</div>
  <div class="black">{{piecelist[23].name}}</div>
  <!-- 4st -->
  <div class="black">{{piecelist[24].name}}</div>
  <div class="white">{{piecelist[25].name}}</div>
  <div class="black">{{piecelist[26].name}}</div>
  <div class="white">{{piecelist[27].name}}</div>
  <div class="black">{{piecelist[28].name}}</div>
  <div class="white">{{piecelist[29].name}}</div>
  <div class="black">{{piecelist[30].name}}</div>
  <div class="white">{{piecelist[31].name}}</div>
  <!-- 5th -->
  <div class="white">{{piecelist[32].name}}</div>
  <div class="black">{{piecelist[33].name}}</div>
  <div class="white">{{piecelist[34].name}}</div>
  <div class="black">{{piecelist[35].name}}</div>
  <div class="white">{{piecelist[36].name}}</div>
  <div class="black">{{piecelist[37].name}}</div>
  <div class="white">{{piecelist[38].name}}</div>
  <div class="black">{{piecelist[39].name}}</div>
  <!-- 6th -->
  <div class="black">{{piecelist[40].name}}</div>
  <div class="white">{{piecelist[41].name}}</div>
  <div class="black">{{piecelist[42].name}}</div>
  <div class="white">{{piecelist[43].name}}</div>
  <div class="black">{{piecelist[44].name}}</div>
  <div class="white">{{piecelist[45].name}}</div>
  <div class="black">{{piecelist[46].name}}</div>
  <div class="white">{{piecelist[47].name}}</div>
  <!-- 7th -->
  <div class="white">{{piecelist[48].name}}</div>
  <div class="black">{{piecelist[49].name}}</div>
  <div class="white">{{piecelist[50].name}}</div>
  <div class="black">{{piecelist[51].name}}</div>
  <div class="white">{{piecelist[52].name}}</div>
  <div class="black">{{piecelist[53].name}}</div>
  <div class="white">{{piecelist[54].name}}</div>
  <div class="black">{{piecelist[55].name}};</div>
  <!-- 8th -->
  <div class="black">{{piecelist[56].name}};</div>
  <div class="white">{{piecelist[57].name}}</div>
  <div class="black">{{piecelist[58].name}}</div>
  <div class="white">{{piecelist[59].name}}</div>
  <div class="black">{{piecelist[60].name}}</div>
  <div class="white">{{piecelist[61].name}}</div>
  <div class="black">{{piecelist[62].name}}</div>
  <div class="white">{{piecelist[63].name}}</div>
</div>
