<div class="LoggedIn"> You are now playing as:   {{player.playerName}}</div>
<div class="column">
  <table border="1">
    <tr>
      <th style="font-weight: bold"> Inlognaam: </th>
      <th> Playernaam:  </th>
    </tr>
    <tr>
      <th style="font-weight: normal"> {{player.username}}</th>
      <th><input placeholder="{{player.playerName}}" value="{{player.playerName}}" #playername /> </th>
    </tr>
  </table>
  <div><button class="btn" (click)="changePlayerName(playername.value)">Change settings</button> </div>
  <br>
  <br>
  <br>
  <div>
    <button class="btn" routerLink="">Ga terug naar de inlogpagina</button>
  </div>
</div>
<div class="column">
  <div class="chessboard">
    <button [id]="'button' + tile.id" (click)="onclick(tile.id)"
            *ngFor="let tile of tilelist" [innerHTML]="getPicture(tile.id)" ngClass="{{colorPicker()}}">
    </button>
  </div>
</div>

  <div [innerHTML]="errorMessage" style="width: 10%; height: 10%; float: right;" class="alert alert-warning" role="alert"></div>
<br>
  <div >
    <button class="btn" (click)="resetBoard()">Start new spelletje!</button>
  </div>

<br>
<br>
<br>
<div>
  <div  [hidden]="">
    <select class="form-control" style="width: 10%" id="promotion" name="promotion" #promotion>
    <option value="Queen">Queen</option>
    <option value="Bishop">Bishop</option>
    <option value="Rook">Rook</option>
    <option value="Knight">Knight</option>
    </select>
    <button class="btn" style="width: 10%;" (click)="getPromotion(promotion.value)">getPromotion</button>
  </div>
</div>
<br>
<br>
<br>
<div>
  <button class="btn" routerLink="/gamedetails">Ga naar gameDetails</button>
</div>


