

.chessboard {
  width: 450px;
  height: 450px;
  margin: 20px;
  border: 25px solid #333;
}
.column {
  float: left;
  width: 30%;
  margin: 50px;
}
.black {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #999;
  font-size:35px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;


}
.white {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #cbcbcb;
  font-size:35px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}
.LoggedIn {
  text-align: center;
  background-color: #549E8B;
  color: white;
  font-size: 40px;
}
